button {
  text-transform: uppercase;
  background: #2B2D7C;
  border: none;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

button.small{
  margin-top: 16px;
  font-size: 1em;
}