p {
  line-height: 1.5em;
  font-size: 1.5em;
}

p.onboarding{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 32px;
}

.full-left {
  margin-left: 96px;
}

.full-right {
  margin-right: 96px;
}
