.section {
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.enroll{
  overflow: auto;
  position: relative;
  width: 50%;  
  float: left;
}

.career{
  position: relative;
  width: 50%;
  float: right;
}
