button {
  text-transform: uppercase;
  background: #2B2D7C;
  border: none;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

button.small{
  margin-top: 16px;
  font-size: 1em;
}

.hamburger-menu-button{
  display: none;
}

@media(max-width:600px){
  button {
    padding: 16px 16px;
    font-size: 1em;
  }

  button.small {
    font-size: 0.75em;
  }

  .hamburger-menu-button{
    float: right;
    display: block;
    position: relative;
    background-color: none;
    background: none;
    border: none;
    padding: 8px 8px;
    border-radius: 0;
    box-shadow: none;
  }
  
  .hamburger-icon{
    width: 24px;
    height: 24px;
  }
}
