.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-half {
  justify-content: space-between;
  padding: 64px;
}

.content-half-align-right{
  align-items: flex-end;
  text-align: right;
}

.content-left{
  right: 50%;
  left: 64px;
}

.content-right{
  left: 50%;
  right: 64px;
  text-align: right;
}

@media(max-width:600px){
  .content-left{
    right: 0;
    left: 0;
  }  

  .content{
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
  }
}