.smak1-logo{
  width: 20%;
  object-fit: contain;
  margin-bottom: 32px;
}

.smak1-logo-small{
  width: 50px;
  object-fit: contain;
  margin-bottom: 32px;
}

@media (max-width:600px){
  .smak1-logo{
    width: 72px;
    object-fit: contain;
  }
}