p {
  line-height: 1.5em;
  font-size: 1.5em;
}

p.onboarding{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 32px;
}

.full-left {
  margin-left: 96px;
}

.full-right {
  margin-right: 96px;
}

@media (max-width:600px){
  p {
    font-size: 1em;
  }

  p.onboarding{
    font-size: 1.25em;
    margin-bottom: 16px;
  }

  .new-line {
    display: none;
  }

  .full-left {
    margin-left: 0;
  }
}