.titlebox-half{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  justify-content: left;
}

.titlebox-half-right{
  justify-content: right;
  margin-bottom: 16px;
}

.titlebox-full {
  position: absolute;
  padding-bottom: 8px;
  margin-left: -32px;
}

.titlebox-full-left {
  transform: rotate(-90deg);
}

.titlebox-full-right{
  right: 0;
  margin-left: 0;
  margin-right: -64px;
  transform: rotate(90deg);
}

@media (max-width:600px){
  .titlebox-full {
    position: relative;
    padding-bottom: 8px;
    margin-left: 0px;
  }

  .titlebox-full-left {
    transform: rotate(0deg);
  }

  .titlebox-full-right{
    right: 0;
    margin-left: 0;
    margin-right: 0;
    transform: rotate(0);
  }
}